<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>JobMiner</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Welcome {{ user }}!</h1>
            <div class="panel-footer">
                <h4>This website was made by :<br/>
                    {% for creator in creators %}
                        {{ creator }}<br/>
                    {% endfor %}
                </h4>
            </div>
        </div>
    </div>
</body>
</html>